h1{
    color:#393E41;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 150px;
    text-align: center;
}

html{
    background-image: linear-gradient(#495867,#D3D0CB)
}


h2{
    color:#F7F7FF;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
}

h3{
    color:#F7F7FF;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    top:-400px;
    position:relative;
}

.box{
    position: relative;
    width: 700px;
    padding:60px;
    top:-400px;
    left: 250px;
    margin:100px;
    border:2px solid white;
    background-color: #BDD5EA;
  
}

.box2{
    width: 700px;
    padding: 60px;
    margin: 100px auto;
    border:2px solid white;
    background-color: #BDD5EA;
    top:-400px;
    position: relative;
  
}

.box3{
     width: 700px;
    padding: 60px;
    margin: 100px auto;
    border:2px solid white;
    background-color: #BDD5EA;
    top:-400px;
    position: relative;
  
}

.box4{
     width: 700px;
    padding: 60px;
    margin: 100px auto;
    border:2px solid white;
    background-color: #BDD5EA;
    top:-400px;
    position: relative;
  
}

.box5{
     width: 700px;
    padding: 60px;
    margin: 100px auto;
    border:2px solid white;
    background-color: #BDD5EA;
    top:-400px;
    position: relative;

}

p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

li{
    font-size: 20px;
     font-family: 'Times New Roman', Times, serif;
}

.center{
    width: 70%;
    position: relative;
    top: 100px;
    left: 50px;
}

.hero-image{
    align-items: center;
    background-image: linear-gradient(rgba(203, 201, 201, 0.842), rgba(95, 96, 97, 0.5)), url("opal.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    justify-content: center; 
    height: 700px;
    width: 100%;
}

.hero-text{
    text-align: center;
    position: relative;
    top:-50px;
    color: white;
}

.box6{
    width: 300px;
    padding: 30px;
    margin: 100px auto;
    border:2px solid white;
    background-color: #BDD5EA;
    top:-80px;
    left: -200px;
    position: relative;

}

.box7{
    width: 300px;
    padding: 30px;
    margin: 100px auto;
    border:2px solid white;
    background-color: #BDD5EA;
    top:-938px;
    left: 200px;
    position: relative;

}

.box8{
    width: 300px;
    padding: 30px;
    margin: 100px auto;
    border:2px solid white;
    background-color: #BDD5EA;
    top:-990px;
    left: 400px;
    position: relative;

}

.box9{
    width: 300px;
    padding: 30px;
    margin: 100px auto;
    border:2px solid white;
    background-color: #BDD5EA;
    top:-1870px;
    left: 0px;
    position: relative;

}

.box10{
    width: 300px;
    padding: 30px;
    margin: 100px auto;
    border:2px solid white;
    background-color: #BDD5EA;
    top:-2750px;
    left: -400px;
    position: relative;

}

.box11{
    width: 500px;
    padding: 65px;
    margin: 100px auto;
    border:2px solid white;
    background-color: #BDD5EA;
    top:-3900px;
    left: 200px;
    position: relative;

}
.box12{
    width: 700px;
    padding: 60px;
    margin: 100px auto;
    border:2px solid white;
    background-color: #BDD5EA ;
    top:-3900px;
    position: relative;
  
}


.container{
    
}
#Phos{
    width: 300px;
    height: 300px;
    position: relative;
    top: -900px;
    left: 270px;
}
#Opal{
    width: 300px;
    height: 300px;
    position: relative;
    top: -1758px;
    left: 670px;
}

#Citrine{
    width: 300px;
    height: 300px;
    position: relative;
    top: -1850px;
    left: 870px;
}

#Amethyst{
    width: 300px;
    height: 300px;
    position: relative;
    top: -2730px;
    left: 470px;
}

#Bort{
    width: 300px;
    height: 300px;
    position: relative;
    top: -3610px;
    left: 60px;
}

h3.gems{
    color:#F7F7FF;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    top: -3100px;
    position:relative;
}

h3.final{
    color:#F7F7FF;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    top: -3900px;
    position:relative;
}

#Houseki{
    width: 400px;
    height: 700px;
    position: relative;
    top: -3100px;
    left: 60px;
}
